:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --primary-white: #ffffff;
    --accent-color: #2196f3;
    --footer-bg-color: #2F303A;
    --footer-contacts: rgba(255, 255, 255, 0.6);
    --secondary-bg-color:#F5F4FA;
    --header-border-color: #ECECEC;
    --primary-border-color: #EEEEEE;
}

body {
  background:var(--primary-white);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

img {
    display: block;
}

.list {
    margin: 0;
    padding: 0;

    list-style: none;
}

/* Хедер страницы */

.page-header {
    border-bottom: 1px solid var(--header-border-color);

}


/* Лого */

.logo {
    display: block;
    margin-right: 94px;
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

}

.logo .accent {

    color: var(--accent-color);
}

/* Навигация сайта */

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

}

.main-nav {
    display: flex;
    align-items: center;
    
}

.site-nav {
    display: flex;
    
}

.site-nav .item + .item {
    margin-left: 50px;


}

.site-nav .link,
.site-contacts .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    cursor: pointer;
}

.site-contacts {
    display: flex;
    margin-left: auto;
}

.site-contacts .item:not(:last-child) {
    margin-right: 30px;
}


.site-nav .link:hover,
.site-nav .link:focus,
.site-contacts .link:hover,
.site-contacts .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}

.site-contacts .link {
    color: var(--primary-text-color);
}

    /* Секция Герой */

.section-hero {
    background-color: var(--footer-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--primary-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.section-hero .btn {
    display: inline-block;
    padding: 10px 32px;

    border: none;  
	border-radius: 4px;
    background-color: var(--accent-color);
    font-family: Roboto, sans-serif;
    color: var(--primary-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    cursor: pointer;
}

/* Секция Особенности  */

.features {
    display: flex;
}

.features-section {
    padding-top: 94px;

}

.features .item {
    flex-basis: calc((100% - 90px) / 4);
}

.features .item:not(:last-child) {
    margin-right: 30px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.features .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Секция Примеры работ */

.work-examples {
    padding-top: 94px;
    padding-bottom: 94px;

}

.examples {
    display: flex;
}

.examples .item:not(:last-child) {
    margin-right: 30px;
}

/* Секция Команда */

.section-team {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--secondary-bg-color);

}

.team {
    display: flex;
    text-align: center;
}

.team .item:not(:last-child) {
    margin-right: 30px;
}

.team .desc {
    padding-top: 30px;
    padding-bottom: 30px;;
}

.team .members {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team .profession {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.19;
}

/* Футер */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    
    background-color: var(--footer-bg-color);
}

.footer .logo {
    padding: 0;
    color: var(--primary-white);
}

.contacts {
    margin-top: 20px;
}

.contacts .place {
    color: var(--primary-white);
    font-style: normal;
}

.contacts .link {
    display: block;
    margin-top: 9px;

    color: var(--footer-contacts);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

    /* Страница Портфолио */

.hiden-title {
    display: none;
}


/* Список фильтров */

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.filter:not(:last-child) {
    margin-right: 8px;
}

.filters .btn {
    display: block;
    padding: 6px 22px;

    border: none;  
	border-radius: 4px;
    background-color: var(--secondary-bg-color);
    font-family: Roboto, sans-serif;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    cursor: pointer;
}

.filters .btn:hover,
.filters .btn:focus {
    color: var(--primary-white);
    background-color: var(--accent-color);
}

/* Проекты */

.projects-section {
    padding-top: 94px;
    padding-bottom: 94px;

}

.projects {
    display: flex;
    flex-wrap: wrap;

}

.project {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    
}

.project:nth-child(3n) {
    margin-right: 0;
}

.project:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.project .desc {
    padding: 20px 24px;

    border: 1px solid var(--primary-border-color);
    border-top: none;
}
  
.projects .name {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .description {
    margin-top: 0px;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.87;
}
